aside{
    display: block;
}
div{
    display: block;
}
.dropdown-item {
    transition: all 0.5s;
    cursor: pointer;
  }
.dropdown-item:hover{
    background-color: aqua;
    color: white;
  }  
  .dropdown-item span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* transition: 0.5s; */
  }
  
  .dropdown-item span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .dropdown-item:hover span {
    padding-right: 25px;
  }
  
  .dropdown-item:hover span:after {
    opacity: 1;
    right: 0;
  }
  .wrapper{
    position: relative;
    min-height: 500px;
  }

  #sidebar-kiri{
      float: left;
      position: relative;
      top: 0;
      left: 0;
      width: 270px;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      background: #f2f2f2;
      padding: 5px;
      margin: 10px;
      border-radius: 3px;
      box-shadow: 0 3px 0 #ddd;
  }
  #sidebar-left{
      background: #fff;
      padding-bottom: 5px;
  }
  #sidebar-kiri h2{
      font-size: 15px;
      padding: 10px;
      border-bottom: 1px solid #eee;
      color: #474747;
      align-self: center;
  }
  h1,h2,h3,h4,h5,h6{
      margin: 0;
  }
  #sidebar-kiri ul {
    margin-left: 0!important;
    padding-left: 0!important;
}
#sidebar-kiri li {
    list-style-type: none;
    display: block;
    margin-left: 0;
    padding-left: 0;
}
.item-content {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.item-content a{
    font-weight: 700;
}
.item-content img{
    float: left;
    margin: 0 5px 5px 0;
    border: 4px solid #ddd;
}
.item-thumbnail{
    float: left;
    margin: 0 5px 5px 0;
}
.item-title{
    padding-bottom: .2em;
}
.item-detail{
    font-size: 12px;
}
.widget{
    background: #fff;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #ddd;
    padding-bottom: 5px;
}
.widget-content{
    margin: 10px;
}
.main-content{
    position: relative;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    margin-left: 270px;

}
@media (max-width: 1367px){
.post-outer{
    width: 48.55%;
    margin: 1% 0 0 1%;
    float: left;
    position: relative;
    display: block;
}

.post-outer {
    width: 30%;
    margin: 1% 0 0 1%;
    float: left;
    position: relative;
    display: block;
}
}
.artikel{
    display: block;
    background: #fff;
    color: #888;
    -webkit-box-shadow: 0 4px 0 #ddd;
    -moz-box-shadow: 0 4px 0 #ddd;
    box-shadow: 0 4px 0 #ddd;
    border: 1px solid #eee;
    margin: 0 0 15px;
    padding: 10px;
    position: relative;
    border-radius: 3px;
}
.article-title{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    color: #484848;
    font: 400 20px Oswald,sans-serif;
}
.clear{
    clear: both;
}